<h1>¡Bienvenido/a, {{ user.first_name }}!</h2>

<div>
    <h3>Nuestros libros: </h3>
    <a href="/carts/{{user.cart._id}}" class="btn btn-primary">Carrito</a>
</div>


<div id="homeList">
    {{>card}}
</div>

{{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
{{/if}}

{{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a> 
{{/if}}

<p>Página {{page}} de {{totalPages}} </p>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>