{{#if payload}}
    {{#each payload}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">Título: {{title}}</h2>
            <p class="card-text">Descripción: {{description}}</p>
            <p class="card-text">Precio: {{price}}</p>
            <a href="/products/{{_id}}" class="btn btn-primary seeDetailProduct">Ver</a>
        </div>
    </div>
    {{/each}}
{{else if users}}
    <div>
        
    </div>
    {{#each users}}
    <div class="card" style="width: 18rem; {{#if isInactive}}background-color: red;{{/if}}">
        <div class="card-body">
            <h2 class="card-title">{{first_name}} {{last_name}}</h2>
            <p class="card-text">ID: {{_id}}</p>
            <p class="card-text">Email: {{email}}</p>
            <p class="card-text">Rol: {{role}}</p>
            <button class="btn btn-primary become-premium-button" data-user-id={{_id}}>Cambiar Rol</button>
        </div>
    </div>
    {{/each}}
{{/if}}