{{#if payload}}
    {{#each payload}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">Título: {{title}}</h2>
            <p class="card-text">Descripción: {{description}}</p>
            <p class="card-text">Precio: {{price}}</p>
            <a href="/products/{{_id}}" class="btn btn-primary seeDetailProduct">Ver</a>
        </div>
    </div>
    {{/each}}
{{else if users}}
    {{#each users}}
    <div class="card {{#if isInactive}}inactive{{/if}}" style="width: 18rem">
        <div class="card-body">
            <h2 class="card-title">{{first_name}} {{last_name}}</h2>
            <p class="card-text">ID: {{_id}}</p>
            <p class="card-text">Email: {{email}}</p>
            <p class="card-text">Rol: {{role}}</p>
            <p class="card-text">Documentos: 
                {{#if documents}}
                    Subidos
                {{else}}
                    Sin Documentos
                {{/if}}
            </p>
            <button class="btn btn-primary become-premium-button" data-user-id={{_id}} {{#unless documents}}disabled{{/unless}}>Cambiar Rol</button>
        </div>
    </div>
    {{/each}}
{{/if}}