{{#if payload}}
    {{#each payload}}
    <div class="card" style="width: 18rem;">
        <div class="card-body card-body-products">
            {{#if noImage}}
                <div>
                    <img class="card-img-top" src="/assets/images/cover-sin-imagen.jpeg" alt="{{title}}">
                    <h4 class="title-cover">{{title}}</h4>
                </div>
            {{else}}
                <img src="{{img}}" class="card-img-top" alt="{{title}}">
            {{/if}}
            <h4 class="card-title">{{title}}</h4>
            <p class="card-text">{{description}}</p>
            <p class="card-text">${{price}}</p>
            <a href="/products/{{_id}}" class="btn btn-dark seeDetailProduct">Ver</a>
        </div>
    </div>
    {{/each}}
{{else if users}}
    {{#each users}}
    <div class="card {{#if isInactive}}inactive{{/if}}" style="width: 18rem">
        <div class="card-body">
            <h2 class="card-title">{{first_name}} {{last_name}}</h2>
            <p class="card-text">ID: {{_id}}</p>
            <p class="card-text">Email: {{email}}</p>
            <p class="card-text">Rol: {{role}}</p>
            <p class="card-text">Documentos: 
                {{#if documents}}
                    Subidos
                {{else}}
                    Sin Documentos
                {{/if}}
            </p>
            <button class="btn btn-dark become-premium-button" data-user-id={{_id}} {{#unless documents}}disabled{{/unless}}>Cambiar Rol</button>
        </div>
    </div>
    {{/each}}
{{/if}}